<component name="libraryTable">
  <library name="springframework.boot.spring.maven.plugin" type="repository">
    <properties maven-id="org.springframework.boot:spring-boot-maven-plugin:3.2.0" />
    <CLASSES>
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-maven-plugin/3.2.0/spring-boot-maven-plugin-3.2.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-buildpack-platform/3.2.0/spring-boot-buildpack-platform-3.2.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-databind/2.14.2/jackson-databind-2.14.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-annotations/2.14.2/jackson-annotations-2.14.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/core/jackson-core/2.14.2/jackson-core-2.14.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/fasterxml/jackson/module/jackson-module-parameter-names/2.14.2/jackson-module-parameter-names-2.14.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/net/java/dev/jna/jna-platform/5.13.0/jna-platform-5.13.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/net/java/dev/jna/jna/5.13.0/jna-5.13.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/commons/commons-compress/1.23.0/commons-compress-1.23.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/httpcomponents/client5/httpclient5/5.2.1/httpclient5-5.2.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/httpcomponents/core5/httpcore5/5.2/httpcore5-5.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/httpcomponents/core5/httpcore5-h2/5.2/httpcore5-h2-5.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-core/6.0.10/spring-core-6.0.10.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-jcl/6.0.10/spring-jcl-6.0.10.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/tomlj/tomlj/1.0.0/tomlj-1.0.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/antlr/antlr4-runtime/4.7.2/antlr4-runtime-4.7.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/com/google/code/findbugs/jsr305/3.0.2/jsr305-3.0.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/boot/spring-boot-loader-tools/3.2.0/spring-boot-loader-tools-3.2.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/apache/maven/shared/maven-common-artifact-filters/3.3.2/maven-common-artifact-filters-3.3.2.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/slf4j/slf4j-api/1.7.36/slf4j-api-1.7.36.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-context/6.1.1/spring-context-6.1.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-aop/6.1.1/spring-aop-6.1.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-beans/6.1.1/spring-beans-6.1.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/springframework/spring-expression/6.1.1/spring-expression-6.1.1.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/micrometer/micrometer-observation/1.12.0/micrometer-observation-1.12.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/io/micrometer/micrometer-commons/1.12.0/micrometer-commons-1.12.0.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/sonatype/plexus/plexus-build-api/0.0.7/plexus-build-api-0.0.7.jar!/" />
      <root url="jar://$MAVEN_REPOSITORY$/org/codehaus/plexus/plexus-utils/1.5.8/plexus-utils-1.5.8.jar!/" />
    </CLASSES>
    <JAVADOC />
    <SOURCES />
  </library>
</component>