<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TP CSS</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a>Home</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <section>

            <h1 data-th-text="${articles[0].title}">Titre de ma page !</h1>
            <!-- ALL ARTICLE LIST -->
            <div>
                <div>
                    <h2>Title article</h2>
                    <a>Link to article</a>
                </div>
                <div>
                    <h2>Title article</h2>
                    <a>Link to article</a>
                </div>
                <div>
                    <h2>Title article</h2>
                    <a>Link to article</a>
                </div>
            </div>
        </section>

        <section>
            <!-- ADD ARTICLE  -->
            <form></form>
        </section>
    </main>
</body>
</html>